# Client
.DS_Store
/client/node_modules
/client/dist
/client/.env.local
/client/.env.*.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pnpm-debug.log*
/client/.idea
/client/.vscode
/client/*.suo
/client/*.ntvs*
/client/*.njsproj
/client/*.sln
/client/*.sw?

# Backend
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/public/*.xls
/backend/storage/*.key
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.fleet
/backend/.idea
/backend/.vscode
/backend/*.txt
/backend/*.zip